.instatile, .instawall {
	float: left;
	overflow: hidden;
}

.instatile li > div {
	overflow: hidden;
}

.bx-viewport {
	left: 0px !important;
	margin: 0 !important;
	border: 0 !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	background: pink !important;
}

.bx-viewport ul {
	padding: 0 !important;
	margin:  0 !important;
	border:  0 !important;	
}

.bx-caption {
	text-shadow: 1px 0px 4px #000, -1px 0px 4px #000, 0px 1px 4px #000, 0px -1px 4px #000 !important;
	background: none !important;
}
.bx-wrapper .bx-caption span {
	font-size: 1.4em   !important;
	color:     #fff !important;
}

.imagetile img {
	width: 100%;
	height: 100%;
}

html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}